.nav ul {
    margin: 0;
    padding: 15px 15px 0 15px;
}
.item {
    text-decoration: none;
    color: white;
    font-weight: 700;
    list-style: none;
    margin-bottom: 10px;
}
.item:last-child {
    margin-top: 50px;
}
.active {
    text-decoration: none;
    color: #ffc178;
}
