.appWrapper {
  display: grid;
  grid-template-areas:
"header header"
"aside content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  max-width: 1220px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}
.appContent {
  grid-area: content;
}


